body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

main {
    background: white;
    padding: 20px;
    margin-top: 20px;
}

header, footer {
    background: #f2f2f2;
    padding: 10px;
}

a {
    color: #1DA1F2;
}

